@media only screen and (min-width: 992px) {
    /* styling navbar */
   .right-items{
        margin-left: 25%;
    }
    .center-items{
      margin-left: 15%;
    }
}

 .navbar-brand{
        font-family: 'Cutive Mono', monospace;
        font-weight: 800;
        font-size: 35px;
    }

@media only screen and (max-width: 768px){
.row1-col1{
    
    border: 1px solid #e6e3e0;
}
/* .row1-col1:hover{
    border: 3px solid red;
} */
.row1-col2{
  
    border: 1px solid #e6e3e0;
}
.row1-col3{
    
    border: 1px solid #e6e3e0;
}

}
    
 



    /* carousel-items */

.carousel-item{
    height: 85vh;
    
} 
.carousel-item img{
    height: 500px;
}
  


/* products Grid Layout */

.prodcts-images{
    width: 80%;
    height: 80%;
}
.row1-col1{
    
    border: 1px solid #e6e3e0;
}
/* .row1-col1:hover{
    border: 3px solid red;
} */
.row1-col2{
    
    border-top: 1px solid #e6e3e0;
    border-bottom: 1px solid #e6e3e0;
}
.row1-col3{
    
    border: 1px solid #e6e3e0;
}
.product-items-layout{
    height: 100%;
    margin-top: 2%;
    transition: all 2s;
    /* border: 1px solid #e6e3e0; */
}
.product-items-layout:hover{
    box-shadow: 5px 10px 8px #888888;;
    transition: all 2s;
  
}


/* FOOOTER STYLING */
.footer-container{
    margin-top: 2%;
    padding-bottom: 3%;
    margin-bottom: 1%;
    background-color: #343a40;
    color: whitesmoke;
}

.footer-items{
   font-family: 'Open Sans Condensed', sans-serif;
   list-style-type: none;
   margin-top: 4%;

}
.footer-links{
    color: inherit;
    cursor:pointer;
}
.footer-links:hover{
    color: white; 
     text-decoration:none; 
     cursor:pointer; 
     transform: scale(1.1); 
    
}
.footer-email-button{
    margin-top: 2%;
    background-color: #343a40;
    color: white;
    border: 1px solid white;
    width: 30%;
    height: 25%;
}
.footer-email-button:hover{
    transform: scale(1.1); 
}


