@media only screen and (min-width: 992px) {
    /* styling navbar */
   .right-items{
        margin-left: 25%;
    }
    .center-items{
      margin-left: 15%;
    }
  


}


/* outside Large */
  .navbar-brand{
        font-family: 'Cutive Mono', monospace;
        font-weight: 800;
        font-size: 35px;
    }
    /* styling slogan jumbotron */
 .deliver-everything{
     font-family: 'Kalam', cursive;
     font-weight: 600;
   }

   /* styling model1 */
  .model1{
       display: block;
        max-width: 100%;
        max-height: 70%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .model1-heading{
        margin-top: 7%;
        text-align: center;
        margin-left: 10%;
        
    }
    .model1-description{
        /* margin-top: 30%; */
        text-align: center;
        
       
    }
    .model1-desc-button{
        width: 60%;
        height: 5%;
        background-color: black;
        color: white ;
        margin-left: 22%;
        margin-bottom: 3%;
       
        

    }
    .model1-desc-button:hover{
        transform: scale(1.1);
    }
  
   .row1-col1-border{
       border: 1px solid #e6e3e0;
       height: 100%;
   }

   /* styling model2 */
  
   .model2{
       background-size: cover;
        width: 91%;
        height: 70%;
        margin-top: 3%;
        margin-right: 8%;
        margin-left: 4%;
        margin-bottom: 8%;
        
   }
   
   
   .model2-heading{
       margin-top: -30%;
       margin-left: 20%;
   }
   .model2-dec-button{
        width: 60%;
        height: 8%;
        background-color: black;
        color: white ;
        margin-top: -8%;
        margin-left: 22%;
        border-radius: 4px;
        
       
   }
   .model2-dec-button:hover{
       transform: scale(1.1);
   }

    .row1-col2-row1-border{
       border-right: 1px solid #e6e3e0 ;
       border-top: 1px solid #e6e3e0;
       border-bottom: 1px solid #e6e3e0;
       
   }
   .row1-col2-row2-border{
       margin-top: 6.5%;
      /* border-bottom:1px solid #e6e3e0 ; */
   }

   /* styling model3  */
   .model5{
       width: 98%;
       height: 85%;
       margin: 1%;
   }
   .row2-col1-border{
       border: 1px solid #e6e3e0;
       margin-bottom: -9%;
   }



/* STORIES */



 .storyjumbo{
   
 } 
.stories{
    text-align: center;
     justify-content: center;
    
}
.story-underline{
    width: 19%;
    justify-content: center;
    background-color: #435056;
}
.story-heading{
    text-align: center;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 34px;
    margin-top: 4%;
}

.story-images{
    width: 95%;
    height: 100%;
}


.story-links{
    color: inherit;
    display: block;
    width: 90%;
    text-align: center;
    
}
.story-links:hover{
    color: rgba(114, 105, 104, 0.37); 
     text-decoration:none; 
     cursor:pointer;  
     transform: scale(1.1);
}

/* Fooooooter Stylingggg */

.footer-container{
    padding-bottom: 3%;
    margin-bottom: 1%;
    background-color: #343a40;
    color: whitesmoke;
}

.footer-items{
   font-family: 'Open Sans Condensed', sans-serif;
   list-style-type: none;
   margin-top: 4%;

}
.footer-links{
    color: inherit;
    cursor:pointer;
}
.footer-links:hover{
    color: white; 
     text-decoration:none; 
     cursor:pointer; 
     transform: scale(1.1); 
    
}
.footer-email-button{
    margin-top: 2%;
    background-color: #343a40;
    color: white;
    border: 1px solid white;
    width: 30%;
    height: 25%;
}
.footer-email-button:hover{
    transform: scale(1.1); 
}


.FontsClass{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;

}