
*{
	font-family: 'Josefin Sans', sans-serif;
}
#logo{
	width: 140px;
	height: 60px;
}
#logo1{
	width: 200px;
	height: 100px;
}
		
.center-items{
	margin-left: 20%;
}
.center-items li a{
	font-size: 16px;
	color: black;
	font-weight: bold;
}

.right-items{
	margin-left: 40%;
		}
@media only screen and (max-width: 992px){
.center-items{
	margin-left: 0;
	}
.right-items{
	margin-left: 0;
	}
		}
.navbar-brand{
	margin-left: 5%;
}
.submenu{
	display: none;
}

.body{
	background-color: #f1f2f7;
}
form
{
	padding: 0px;
	border: none;
}
.login-wrap{
	padding-top: 150px;
}

